.footer {
  background-color: #f5f5f9;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 25px 0 29px;
  box-sizing: border-box;
  list-style: none;
}

.footer__item {
  &:first-child {
    margin-left: -33px;
  }

  &:last-child {
    margin-right: -33px;
  }
}

.footer__link {
  display: inline-block;
  padding: 0 33px;
  font-size: 16px;
  line-height: 82px;
  font-weight: 600;
  color: #48494d;

  &:hover,
  &:focus {
    color: #ffffff;
    outline: none;
    background-color: #d12136;
  }

  &:active {
    background-color: #bd0c21;
  }
}
