@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/OpenSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/OpenSans-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/OpenSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0 auto;
  min-width: 1024px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #48494d;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
